/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 656px;
}
/* Heading  */
#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 70px;
    background-color: green;
    color: white;
    line-height: 70px;
}

#header h1 {
    width: 50%;
    padding-left: 38px;
}

#header .nav {
    width: 45%;
    text-align: right;
    padding-right: 15px;
}

#header .nav ul {
    list-style-type: none;
}

#header .nav ul li {
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}

#header .nav ul li:hover {
    background-color: lightgray;
    color: #000;
    transition: 0.3s;
}

#header .light-bulb {
    width: 5%;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}

/* Body */
#container {
    display: flex;
    flex-direction: row;
}

/*Slider*/
#container .slider {
    position: relative;
    width: 50%;
    height: 420px;
    margin-top: 70px;
    margin-left: 40px;
}

#container .slider img {
    width: 100%;
    height: 420px;
}

#container .slider i {
    position: absolute;
    font-size: 50px;
    top: 180px;
    color: rgb(255, 255, 255, 0.5);
}

#container .slider i:hover {
    color: rgb(255, 255, 255, 1)
}

#container .slider i#prev {
    left: 10px;
}

#container .slider i#next {
    right: 10px;
}
/*Content*/
#container .content {
    width: 50%;
    height: 380px;
}

#container .content .content-main {
    margin: 64px 50px 0 50px;
    text-align: justify;
}

/* Book Ticket Button  */
#modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.3);
    display: none;
}

.fair-btn button {
    position: absolute;
    top: 500px;
    right: 200px;
    padding: 48px 85px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to bottom, orange, yellow);
    color: white;
    cursor: pointer;
}

.fair-btn button:hover {
    opacity: 0.8;
}

/*Fair Form*/
#form-frame {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 750px;
    height: 500px;
    background-color: lightgray;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    display: none;
}

#form-frame .form-heading {
    position: relative;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    background-color: rgb(42, 201, 108);
    color: white;
}

#form-frame .form-heading p {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 20px;
}

#form-frame .form-heading p:hover {
    cursor: pointer;
    background-color: tomato;
}

#form-frame .form-content {
    padding: 20px 100px;
}

#form-frame .form-content i {
    font-size: 20px;
    margin-right: 5px;
}

#form-frame .form-content input, select {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

#form-frame .form-content .check {
    height: 25px;
}

#form-frame .form-content #check-full {
    color: red;
    text-align: center;
    display: none;
}

#form-frame .form-btn {
    margin-top: 5px;
    text-align: center;
}

#form-frame .form-btn button {
    padding: 20px 40px;
    background-color: rgb(42, 201, 108);
    border: none;
    border-radius: 5px;
    color: white;
}

#form-frame .form-btn button:hover {
    opacity: 0.8;
}

/*Check frame*/
#check-frame {
    display: none;
    position: absolute;
    text-align: center;
    background-color: lightcyan;
    width: 430px;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 180px;
    margin: 0 auto;
    border-radius: 10px;
}

#check-frame i {
    color: greenyellow;
    font-size: 50px;
    margin-top: 10px;
}

#check-frame h2 {
    padding: 10px 0;
}

#check-frame p {
    text-align: left;
    padding: 0px 92px;
}

#check-frame button {
    margin-top: 10px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(42, 201, 108);
    color: white;
}

#check-frame button:hover {
    opacity: 0.8;
}